// Colores

$white: #FFF;
$isabelline: #EEEDED;
$spanishgray: #989797;
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;
$flame: #E4572E;
$lightredochre: #E87554;
$pastelpink: #F2B2A0;
$shinyshamrock: #4CA866;
$turquiosegreen: #9DCFAB;
$pastelgray: #BDDFC7;
$bluedefrance: #3C91E6;
$bluejeans: #5FA5EA;
$jordyblue: #82B9EF;
$black: #000000;
$outerspace: #454545;
$quicksilver: #A2A2A2;

// Tamaños Fuente

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

// Fuentes

$ptmono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;
